# Cấu hình API Backend (mặc định dùng Vite Proxy /api)
VITE_API_URL=/api

# Mã Google Client ID dùng chung cho toàn nhóm Grand Horizon Resort
VITE_GOOGLE_CLIENT_ID=899765659367-t8al691bc6mhhmu52r6mh58fq1i5fma7.apps.googleusercontent.com
